<header class="site-header">
  <a href="/" class="site-header__title">nightfalls — grandmaster edition</a>
  <nav class="site-nav">
    <ul class="site-nav__list">
      {% comment %} {% for nightfall in collections.nightfall %}
        <li class="site-nav__item 
        {% if title == nightfall.data.title %}current{% endif %}"><a href="{{ nightfall.url }}">{{ nightfall.data.title }}</a></li>
      {% endfor %} {% endcomment %}
      {% comment %} {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }} {% endcomment %}
      {% assign navPages = collections.all | eleventyNavigation %}
      {%- for entry in navPages %}
        <li class="site-nav__item {% if entry.url == page.url %}current{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</header>