---
layout: layout.liquid
---

<main class="container">

<article class="home-nf">
  {% for nightfall in collections.nightfall %}
    {% if nightfall.data.current == true %}
      <section class="home-nf__content">
        <p class="nf-pretitle">Current Nightfall → Dec. 7–13</p>
        <h1 class="nf-title">{{ nightfall.data.title }}</h1>
        <ul class="home-nf__meta">
          <li><strong>Drops</strong>: PLUG ONE.1 and Uzume RR4</li>
        </ul>

        <p>{{ nightfall.data.excerpt }}</p>
        <ul class="home-nf__meta">
          <li><strong>Champions</strong>: 
            {% for champions in nightfall.data.champions %}
              <span class="home-nf__meta-item"><img src="/svg/{{ champions }}.svg"> {{ champions }}</span>
            {% endfor %}
          </li>
          <li><strong>Shields</strong>: 
            {% for shields in nightfall.data.shields %}
              <span class="home-nf__meta-item"><img src="/svg/{{ shields }}.svg"> {{ shields }}</span>
            {% endfor %}
          </li>
        </ul>

        <a href="{{ nightfall.url }}" class="home-nf__cta">Read more →</a>

      </section>

      <figure class="home-nf__image">
        <img src="/img/{{ nightfall.data.image }}" alt="{{ nightfall.data.boss }}">
        <figcaption>{{ nightfall.data.boss }}</figcaption>
      </figure>
    {% endif %}
  {% endfor %}
</article>

<hr>

<section class="home-list">
  <h2 class="home-list__title">Season of the Lost → Nightfalls List</h2>




  <a href="/nightfalls/the-devils-lair"><article class="nf-card">
    <h3 class="nf-card__title">The Devils’ Lair</h3>
    <p class="nf-card__note">Upcoming NF ✦ Dec. 14–20</p>
    <img src="/img/sepiks_edit.jpg" alt="" class="nf-card__image">
  </article></a>
  <a href="/nightfalls/proving-grounds"><article class="nf-card">
    <h3 class="nf-card__title">Proving Grounds</h3>
    <p class="nf-card__note">Dec. 21–27</p>
    <img src="/img/ignovun_edit.jpg" alt="" class="nf-card__image">
  </article></a>
  <a href="/nightfalls/the-hollowed-lair"><article class="nf-card">
    <h3 class="nf-card__title">The Hollowed Lair</h3>
    <p class="nf-card__note">Dec. 28 – Jan. 3</p>
    <img src="/img/fanatic_edit.jpg" alt="" class="nf-card__image">
  </article></a>  
  <a href="/nightfalls/lake-of-shadows"><article class="nf-card">
    <h3 class="nf-card__title">Lake of Shadows</h3>
    <p class="nf-card__note">Jan. 4–10</p>
    <img src="/img/grask_edit.jpg" alt="" class="nf-card__image">
  </article></a>
  <a href="/nightfalls/exodus-crash"><article class="nf-card">
    <h3 class="nf-card__title">Exodus Crash</h3>
    <p class="nf-card__note">Jan. 11–17</p>
    <img src="/img/thaviks_edit.jpg" alt="" class="nf-card__image">
  </article></a>   
  <a href="/nightfalls/the-corrupted"><article class="nf-card">
    <h3 class="nf-card__title">The Corrupted</h3>
    <p class="nf-card__note">Current NF ✦ Dec. 7–13</p>
    <img src="/img/sedia_edit.jpg" alt="" class="nf-card__image">
  </article></a>
</section>


</main>

{% comment %} <script src="/js/rotation.js"></script> {% endcomment %}