---
layout: layout.liquid
---

<main class="container page">


<header class="page-header">
  <p class="nf-pretitle">{{ location }}</p>
  <h1 class="nf-title">{{ title }}</h1>

  <ul class="nf-meta">
    <li><strong>Champions</strong>: 
      {% for champions in champions %}
        <span class="nf-meta__item">
          <img src="/svg/{{ champions }}.svg"> {{ champions }}
        </span>
      {% endfor %}
    </li>
    <li><strong>Shields</strong>:
      {% for shields in shields %}
        <span class="nf-meta__item">
          <img src="/svg/{{ shields }}.svg"> {{ shields }}
        </span>
      {% endfor %}
    </li>
  </ul>
</header>


<section class="content">

{% comment %} {% if toc %}
  <nav class="post__toc">
    <p class="post__toc-heading">Table of Contents</p>
    <ol class="post__toc-list"></ol>
  </nav>
{% endif %} {% endcomment %}

{% if status %}
<p class="nf-status"><strong>Page Status</strong>: {{ status }}</p>
{% endif %}

{{ content }}

</section>

{% comment %} <hr> 

<section class="nf-runs">

<h2>Personal Run</h2>

<ul class="runs__list">
  <li class="run">
    <p class="run__class">Warlock | Well of Radiance</p>
    <p class="run__exotic">Phoenix Protocol</p>

    <ul class="run__loadout">
      <li class="run__loadout-item">Arbalest</li>
      <li class="run__loadout-item">Pulse Rifle</li>
      <li class="run__loadout-item">Linear Fusion Rifle</li>
      
      <li class="run__loadout-item"><strong>Notes</strong>:</li>
    </ul>

  </li>
  <li class="run">
    <p class="run__class">Hunter | Bottom-tree Void</p>
    <p class="run__exotic">Omnioculous</p>

    <ul class="run__loadout">
      <li class="run__loadout-item">Arbalest</li>
      <li class="run__loadout-item">Pulse Rifle</li>
      <li class="run__loadout-item">Linear Fusion Rifle</li>
      
      <li class="run__loadout-item"><strong>Notes</strong>:</li>
    </ul>

  </li>
  <li class="run">
    <p class="run__class">Titan | Bottom-tree Solar</p>
    <p class="run__exotic">Hallowfire Heart</p>

    <ul class="run__loadout">
      <li class="run__loadout-item">Pulse Rifle</li>
      <li class="run__loadout-item">Telesto</li>
      <li class="run__loadout-item">Linear Fusion Rifle</li>
      
      <li class="run__loadout-item"><strong>Notes</strong>: ad clear</li>
    </ul>

  </li>
</ul>

</section>  {% endcomment %}

{% comment %} <footer class="page-footer">
  Last updated: {{ page.date | date: "%B %d, %Y" }}
</footer> {% endcomment %}

</main>

{% comment %} {% if toc %}
<script>
const headings = document.querySelectorAll("h2");
const tocList = document.querySelector(".post__toc-list");

function generateTOC() {
  for (let i = 0; i < headings.length; i++) {
    let listItem = document.createElement("li");
    listItem.setAttribute("class", "post__toc-item");

    let listURL = "#" + headings[i].getAttribute("id");

    let listItemLink = document.createElement("a");
    listItemLink.setAttribute("href", listURL);
    listItemLink.setAttribute("class", "post__toc-link");

    let listItemTitle = document.createTextNode(headings[i].innerText);

    listItem.appendChild(listItemLink);
    listItemLink.appendChild(listItemTitle);
    tocList.appendChild(listItem);
  }
}

generateTOC();

</script>
{% endif %} {% endcomment %}
